http-basic-auth  # need for aiohttp-basicauth-middleware
git+https://github.com/namuyan/yespower-python
git+https://github.com/namuyan/hmq-hash
x11_hash
litecoin_scrypt
git+https://github.com/namuyan/shield-x16s-hash
# leveldb  # for linux and windows
plyvel  # for linux and arm
bc4py_extension
fastecdsa
